<div class="col md-4 m-4 p-4 rounded" style="background-color: white;">
    <div class="row">
      <div class="col-3 d-flex justify-content-center align-items-center">
        <i style="font-size: 40px;color: skyblue;" class="fa-solid fa-cart-shopping"></i>
      </div>
      <div class="col" style="text-align: center;">
        <h6 class="mb-10">hàng đang đặt</h6>
        <h3 class="fw-bold mb-10">34567</h3>
        <p class="text-sm text-success">
          <i class="lni lni-arrow-up"></i> +2.00%
          <span class="text-gray">(30 days)</span>
        </p>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////// -->
  <div class="col md-4 m-4 p-4 rounded" style="background-color: white;">
    <div class="row">
      <div class="col-3 d-flex justify-content-center align-items-center">
        <i style="font-size: 40px;color:green" class="fa-brands fa-square-font-awesome-stroke"></i>
      </div>
      <div class="col" style="text-align: center;">
        <h6 class="mb-10">Tổng thu nhập</h6>
        <h3 class="fw-bold mb-10">50,000,000 đ</h3>
        <p class="text-sm text-success">
          <i class="lni lni-arrow-up"></i> +2.00%
          <span class="text-gray">(30 days)</span>
        </p>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////// -->
  <div class="col md-4 m-4 p-4 rounded" style="background-color: white;">
    <div class="row">
      <div class="col-3 d-flex justify-content-center align-items-center">
        <i style="font-size: 40px;color: rgb(0, 183, 255);" class="fa-solid fa-seedling"></i>
      </div>
      <div class="col" style="text-align: center;">
        <h6 class="mb-10">Tổng chi phí</h6>
        <h3 class="text-bold mb-10">10,000,000</h3>
        <p class="text-sm text-success">
          <i class="lni lni-arrow-up"></i> +2.00%
          <span class="text-gray">(30 days)</span>
        </p>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////// -->
  <div class="col md-4 m-4 p-4 rounded" style="background-color: white;">
    <div class="row">
      <div class="col-3 d-flex justify-content-center align-items-center">
        <i style="font-size: 40px;color: #ffd91a;" class="fa-solid fa-users"></i>
      </div>
      <div class="col" style="text-align: center;">
        <h6 class="mb-10">Tổng User</h6>
        <h3 class="text-bold mb-10">34567</h3>
        <p class="text-sm text-success">
          <i class="lni lni-arrow-up"></i> +2.00%
          <span class="text-gray">(30 days)</span>
        </p>
      </div>
    </div>
  </div>