<div class="container-fluid" style="width: 80%; padding: 2rem;">
    <form class="row g-3 was-validated" action="/admin/product/insert"  enctype="multipart/form-data" method="post">
        <div class="col-md-4">
          <fieldset disabled>
          <label for="validationServer01"  class="form-label">ID sản phẩm</label>
          <input type="number" for="disabledTextInput" class="form-control" value="">
        </fieldset>
        </div>
        <div class="col-md-8">
          <label for="validationServer02" class="form-label">Tên sản phẩm</label>
          <input type="text" name="pd_name" class="form-control is-valid" id="validationServer02" required>
        </div>
        <div class="col-md-3">
          <label for="validationServer03" class="form-label">mặt hàng</label>
          <select class="form-select is-invalid" id="validationServer03" name="pd_item" aria-describedby="validationServer04Feedback" required>
            <option selected disabled value="">Choose...</option>
            <% Object.values(items).forEach(element => { %>
              <option value="<%= element.m_ma %>"><%= element.m_name %></option>  
            <% }); %>
          </select>
        </div>
        <div class="col-md-3">
            <label for="validationServer04" class="form-label">nhãn hiệu</label>
            <select class="form-select is-invalid" id="validationServer04" name="pd_brand" aria-describedby="validationServer04Feedback" required>
              <option selected disabled value="">Chọn...</option>
              <% Object.values(brands).forEach(element => { %>
                <option value="<%= element.nh_ma %>"><%= element.nh_name %></option>  
              <% }); %>
            </select>
        </div>
        <div class="col-md-3">
            <label for="validationServer05" class="form-label">Số lượng</label>
            <input type="number" class="form-control is-valid" name="pd_num" id="validationServer05" required>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <label for="validationServer06" class="form-label">Giá thành sản phẩm</label>
            <input type="number" class="form-control is-valid" name="pd_price1" id="validationServer06" required>
        </div>
        <div class="col-md-3">
            <label for="validationServer07" class="form-label">Giá sản phẩm</label>
            <input type="number" class="form-control is-valid" name="pd_price2" id="validationServer07" required>
        </div>
        <div class="col-md-3">
            <label for="validationServer08" class="form-label">giảm giá (%)</label>
            <input type="number" class="form-control is-valid" name="pd_discount" id="validationServer08" required>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-12">
            <input type="file" accept="image/*,.png" name="pd_image" class="form-control">
        </div>
        <div class="col-md-12">
            <label for="validationTextarea" class="form-label">Mô tả sản phẩm</label>
            <textarea class="form-control" id="validationTextarea" name="pd_desc" placeholder="..." required></textarea>
          </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Thêm</button>
        </div>
      </form>
</div>