<div class="container-fluid" style="width: 80%; padding: 2rem;">
    <form class="row g-3 was-validated">
        <div class="col-md-4">
          <label for="validationServer01" class="form-label">ID sản phẩm</label>
          <input type="number" class="form-control is-valid" id="validationServer01" required>
        </div>
        <div class="col-md-8">
          <label for="validationServer02" class="form-label">Tên sản phẩm</label>
          <input type="text" class="form-control is-valid" id="validationServer02" required>
        </div>
        <div class="col-md-3">
          <label for="validationServer03" class="form-label">mặt hàng</label>
          <select class="form-select is-invalid" id="validationServer03" aria-describedby="validationServer04Feedback" required>
            <option selected disabled value="">Choose...</option>
            <option>ABC</option>
            <option>ABC</option>
            <option>ABC</option>
            <option>ABC</option>
          </select>
        </div>
        <div class="col-md-3">
            <label for="validationServer04" class="form-label">nhãn hiệu</label>
            <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
              <option selected disabled value="">Choose...</option>
              <option>ABC</option>
              <option>ABC</option>
              <option>ABC</option>
              <option>ABC</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="validationServer05" class="form-label">Số lượng</label>
            <input type="number" class="form-control is-valid" id="validationServer05" required>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <label for="validationServer06" class="form-label">Giá thành sản phẩm</label>
            <input type="number" class="form-control is-valid" id="validationServer06" required>
        </div>
        <div class="col-md-3">
            <label for="validationServer07" class="form-label">Giá sản phẩm</label>
            <input type="number" class="form-control is-valid" id="validationServer07" required>
        </div>
        <div class="col-md-3">
            <label for="validationServer08" class="form-label">giảm giá (%)</label>
            <input type="number" class="form-control is-valid" id="validationServer08" required>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-12">
            <input type="file" accept="image/*,.pdf" class="form-control" aria-label="file example" required>
        </div>
        <div class="col-md-12">
            <label for="validationTextarea" class="form-label">Mô tả sản phẩm</label>
            <textarea class="form-control" id="validationTextarea" placeholder="..." required></textarea>
          </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Thêm</button>
        </div>
      </form>
</div>