 <!-- cart-section -->

 <div class="container">
    <div class="cart-content mt-3">
        <div class="title-header text-center">
            <h2 class="title">Giỏ Hàng</h2>
            <p><span class="text-primary">2</span> sản phẩm trong giỏ hàng của bạn</p>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                <table class="table border border-secondary">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>Sản phẩm</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thành tiền</th>
                            <th scope="col"></th>
        
                        </tr>
                    </thead>
                    <% for(var i = 0; i <2 ; i++){ %>
                    <tbody>
                        <tr>
                            <td>
                                <div class="item-center pdl10"><input type="checkbox" class="checkboxStyle"></div>
                            </td>
                            <td>
                                <div class="product-title item-center">
                                    <img src="" alt="">
                                    <div>
                                        <p>iPhone 13 Pro 128GB</p>
                                        <p>Màu sắc: Đỏ</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="item-center">30.750.000đ</div>
                            </td>
                            <td>
                                <div class="item-center">
                                    <div class="quantity">
                                        <input class="btn-quantity decrease-quantity" onclick="dcQuantity()" type="button"
                                            value="-">
                                        <input type="number" max="10" min="1" name="quantity" value="1"
                                            class="quantity-input" id="quantity-input">
                                        <input class="btn-quantity increase-quantity" onclick="icQuantity()" type="button"
                                            value="+">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="item-center text-red">30.750.000đ</div>
                            </td>
                            <td>
                                <div class="item-center pinside10"><i class="far fa-trash-alt"></i></div>
                            </td>
                        </tr>
        
                        <tr>
                            <td>
                                <div class="item-center pdl10"><input type="checkbox" class="checkboxStyle"></div>
                            </td>
                            <td>
                                <div class="product-title item-center">
                                    <img src="" alt="">
                                    <div>
                                        <p>iPhone 11 Pro 128GB</p>
                                        <p>Màu sắc: Xanh</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="item-center">17.000.000đ</div>
                            </td>
                            <td>
                                <div class="item-center">
                                    <div class="quantity">
                                        <input class="btn-quantity decrease-quantity" onclick="dcQuantity()" type="button"
                                            value="-">
                                        <input type="number" max="10" min="1" name="quantity" value="1"
                                            class="quantity-input" id="quantity-input">
                                        <input class="btn-quantity increase-quantity" onclick="icQuantity()" type="button"
                                            value="+">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="item-center text-red">17.000.000đ</div>
                            </td>
                            <td>
                                <div class="item-center pinside10"><i class="far fa-trash-alt"></i></div>
                            </td>
                        </tr>
                    </tbody>
                    <% } %>
                </table>
            </div>
            <div class="col-4">
                <div class="prices-summary border border-secondary p-2">
                    <div class="row">
                        <div class="col-8 mt-2 mb-3">
                            <input type="text" class="input-group p-1" placeholder="Nhập mã ưu đãi">
                        </div>
                        <div class="col-4 mt-2 mb-3">
                            <button type="submit" class="btn" style="background-color: yellowgreen;">Áp dụng</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <span class="prices-text">Tạm tính</span>
                        </div>
                        <div class="col-9">
                            <span class="prices-value">47.750.000đ</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <span class="prices-text">Giảm giá</span>
                        </div>
                        <div class="col-9">
                            <span class="prices-value">0đ</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <span class="price-text">Tổng cộng</span>
                        </div>
                        <div class="col-9">
                            <span class="text-danger fs-4">47.750.000đ</span>
                        </div>
                    </div>
                </div>
                <a class="mt-2 btn w-100"  href="/checkout" style="background-color: yellowgreen;">Mua hàng</a>
            </div>
        </div>
    </div>
    <a href="/" class="btn mb-2" style="background-color: yellowgreen;"><i class="fas fa-long-arrow-alt-left"></i> Tiếp tục
        mua hàng</a>
</div>
<!-- /.cart-total -->
</div>