<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Home page</title>
</head>

<body>
    <header>
        <nav class="nav-header">
            <div class="logo">
                <span>Shop 11</span>
            </div>
            <div class="search-area">
                <input type="text">
                <input type="button" value="tìm">
            </div>
            <div class="user-area">
                <a class="btn-login" href="http://">Login</a>
                <a class="btn-register" href="http://">Register</a>
            </div>
        </nav>
        <nav class="nav-menu">
            <ul class="nav-menu-item">
                <li><a href="http://">Trang Chủ</a></li>
                <li>
                    <a href="http://">sản phẩm</a>
                    <ul class="sub-menu">
                        <li><a href="http://">ABC</a></li>
                        <li><a href="http://">ABC</a></li>
                        <li><a href="http://">ABC</a></li>
                        <li><a href="http://">ABC</a></li>
                    </ul>
                </li>

                <li><a href="http://">tin tức</a></li>
                <li><a href="http://">liên hệ</a></li>
            </ul>
            <div class="nav-cart">
                <a href="http://">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>giỏ hàng</span>
                </a>

            </div>
        </nav>
    </header>
    <content>

    </content>
    <footer>
        <div class="footer-content">

        </div>
        
    </footer>

</body>


</html>