<div class="container p-2" style="height: 600px; width: 50%; margin: 0 auto;">
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Họ tên</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Fullname" required>
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="Email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="Password" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Phone" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Address">
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
    <br>
    <a href="/login">Đăng nhập tại đây</a>
</div>