@charset "UTF-8";


/*----------------------------------
    1. Body / Typography
----------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0px;
  font-size: 16px;
  color: #848687;
  font-weight: 400;
  line-height: 30px;
  background-color: #f3f5f7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1e1e;
  margin: 0px 0px 15px 0px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  font-size: 30px;
  line-height: 42px;
}
h2 {
  font-size: 24px;
  line-height: 32px;
}
h3 {
  font-size: 22px;
  line-height: 30px;
}
h4 {
  font-size: 18px;
  line-height: 26px;
}
h5 {
  font-size: 14px;
  font-weight: 400;
}
h6 {
  font-size: 12px;
  font-weight: 400;
}
p {
  margin: 0 0 24px;
  line-height: 1.8;
}
p:last-child {
  margin: 0px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1c1e1e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a:focus,
a:hover {
  text-decoration: none;
  color: #fb730f;
}
sub {
  bottom: 0em;
}
.lead {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto Condensed", sans-serif;
  color: #1c1e1e;
  margin-bottom: 30px;
}
blockquote {
  padding: 10px 32px;
  margin: 0 0 30px;
  font-size: 17.5px;
  border-left: 5px solid #fb730f;
}

.blockquote-text {
  font-family: "Roboto Condensed", sans-serif;
  color: #1c1e1e;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}
.blockquote-author {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}
strong {
  color: #1c1e1e;
}
hr {
  border-top: 1px solid #e8ecf0;
  margin-bottom: 40px;
  margin-top: 40px;
}

/*-----------------------
    2 Form Elements:
-------------------------*/

.control-label {
  font-size: 13px;
  text-transform: capitalize;
  color: #3c424b;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-group {
  margin-bottom: 5px;
}
.form-control {
  border-radius: 3px;
  color: #656869;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  height: 52px;
  padding: 12px 16px;
  line-height: 1.42857143;
  border: 2px solid #e8ecf0;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}
.form-control:focus {
  border-color: #a5a8ab;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
input[type="checkbox"],
input[type="radio"] {
  margin: 8px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}
input::-webkit-input-placeholder {
  color: #a6a7a8 !important;
  opacity: 1;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 1s ease;
}
textarea::-webkit-input-placeholder {
  color: #a6a7a8 !important;
}
.input-group-addon {
  background-color: transparent;
  border: 1px solid #e8ecf0;
  border-radius: 0px;
}
.focus {
  border: 2px solid #e8ecf0;
  background-color: #fff;
}
.focus:focus {
  border-color: #e8ecf0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control {
  border-color: #3c763d;
  background-color: #fff;
  box-shadow: none;
}
.has-success .form-control:focus {
  border-color: #3c763d;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control {
  border-color: #a94442;
  background-color: #fff;
  box-shadow: none;
}
.has-error .form-control:focus {
  border-color: #a94442;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*-------------- align ------------*/

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 0px 0 20px 30px;
}
.alignleft {
  float: left;
  margin: 0px 20px 0px 0;
}
a img.alignright {
  float: right;
  margin: 0px 0 30px 30px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*-----------------------------------
    3. Buttons 
-----------------------------------*/
.btn {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 14px 26px;
  border-radius: 4px;
  line-height: 2;
  letter-spacing: 2px;
  border: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  word-wrap: break-word;
  white-space: normal !important;
}
.btn-primary {
  background-color: #fb730f;
  color: #fff;
}
.btn-primary:hover {
  background-color: #ed6908;
  color: #fff;
}
.btn-primary.focus,
.btn-primary:focus {
  background-color: #ed6908;
  color: #fff;
}
.btn-default {
  background-color: #0cafe5;
  color: #fff;
}
.btn-default:hover {
  background-color: #0e9bc9;
  color: #fff;
}
.btn-default.focus,
.btn-default:focus {
  background-color: #0e9bc9;
  color: #fff;
}
.btn-lg {
  padding: 16px 36px;
  font-size: 16px;
}
.btn-sm {
  padding: 12px 22px;
  font-size: 12px;
}
.btn-xs {
  padding: 10px 14px;
  font-size: 11px;
}
.btn-white {
  color: #13387c;
  background: #fff;
  margin-bottom: -10px;
}
.btn-white:hover {
  background-color: #fff;
  color: #13387c;
}
.btn-white.focus,
.btn-white:focus {
  background-color: #fff;
  color: #19202b;
}
.btn-link {
  color: #1c1e1e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.btn-link:hover {
  color: #fb730f;
  text-decoration: none;
}

/*-----------------------------------
General / Elements 
-----------------------------------*/

/*----------------------- 
  Section space :
-------------------------*/

/*Note: Section space help to create top bottom space;*/

.space-small {
  padding-top: 0px;
  padding-bottom: 0px;
}
.space-medium {
  padding-top: 80px;
  padding-bottom: 80px;
}
.space-large {
  padding-top: 120px;
  padding-bottom: 120px;
}
.space-ex-large {
  padding-top: 140px;
  padding-bottom: 140px;
}
.content {
  padding-top: 20px;
  padding-bottom: 40px;
}

/*----------------------
 Margin Space
-----------------------*/
.ml30 {
  margin-left: 30px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb130 {
  margin-bottom: 130px;
}
.mt0 {
  margin-top: 0px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt100 {
  margin-top: 100px;
}

/*----- less margin space from top --*/
.mt-20 {
  margin-top: -20px;
}
.mt-40 {
  margin-top: -40px;
}
.mt-60 {
  margin-top: -60px;
}
.mt-80 {
  margin-top: -80px;
}

/*-----------------------
Padding space
-------------------------*/
.nopadding {
  padding: 0px;
}
.nopr {
  padding-right: 0px;
}
.nopl {
  padding-left: 0px;
}
.pinside10 {
  padding: 10px;
}
.pinside20 {
  padding: 20px;
}
.pinside30 {
  padding: 30px;
}
.pinside40 {
  padding: 40px;
}
.pinside50 {
  padding: 50px;
}
.pinside60 {
  padding: 60px;
}
.pinside80 {
  padding: 80px;
}
.pinside130 {
  padding: 130px;
}
.pdt10 {
  padding-top: 10px;
}
.pdt20 {
  padding-top: 20px;
}
.pdt30 {
  padding-top: 30px;
}
.pdt40 {
  padding-top: 40px;
}
.pdt60 {
  padding-top: 60px;
}
.pdt80 {
  padding-top: 80px;
}
.pdb10 {
  padding-bottom: 10px;
}
.pdb20 {
  padding-bottom: 20px;
}
.pdb30 {
  padding-bottom: 30px;
}
.pdb40 {
  padding-bottom: 40px;
}
.pdb60 {
  padding-bottom: 60px;
}
.pdb80 {
  padding-bottom: 80px;
}
.pdb150 {
  padding-bottom: 150px;
}
.pdl10 {
  padding-left: 10px;
}
.pdl20 {
  padding-left: 20px;
}
.pdl30 {
  padding-left: 30px;
}
.pdl40 {
  padding-left: 40px;
}
.pdl60 {
  padding-left: 60px;
}
.pdl80 {
  padding-left: 80px;
}
.pdr10 {
  padding-right: 10px;
}
.pdr20 {
  padding-right: 20px;
}
.pdr30 {
  padding-right: 30px;
}
.pdr40 {
  padding-right: 40px;
}
.pdr60 {
  padding-right: 60px;
}
.pdr80 {
  padding-right: 80px;
}
.pdtb40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

/*--------------------------------
 Background & Block color 
----------------------------------*/
.bg-light {
  background-color: #f8f9fa;
}
.bg-primary {
  background-color: #1aa644;
  color: #fff;
}
.bg-default {
  background-color: #0cafe5;
  color: #fff;
}
.bg-white {
  background-color: #fff;
}

.text-blue{
  color:rgb(88,176,229);
}

.section-title {
  margin-bottom: 40px;
  text-align: center;
}
.title {
  color: #1c1e1e;
}
.small-title {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 900;
  color: #ec1010;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}
.text-white {
  color: #fff;
}
.text-default {
  color: #0cafe5;
}
.text-primary {
  color: #676b6e;
}
.text-green {
  color: #43cf22;
}
.text-black {
  color: #1c1e1e;
}
.text-secondary {
  color: #848687;
}
.text-red{
  color: rgb(231,61,75);
}

.well-block {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
}
.divider-line {
  border-bottom: 1px solid #e8ecf0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*--------------------------------
 Features Block 
----------------------------------*/
.feature {
  text-align: center;
}
.feature-list {
  border-bottom: 1px solid #e8ecf0;
}

/*--- Feature left  class ---*/
.feature-left {
  margin-bottom: 20px;
  border-bottom: 1px solid #f4f7f9;
}
.feature-left:last-child {
  margin-bottom: 0px;
  border-bottom: transparent;
}
.feature-left .feature-icon {
  float: left;
  padding-top: 16px;
}
.feature-left .feature-content {
  padding-top: 8px;
  padding-left: 70px;
  padding-bottom: 20px;
}
.feature-outline-icon {
  float: left;
  padding-top: 9px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding-left: 16px;
  font-size: 18px;
  margin-top: 13px;
}

/*--- Feature center class ---*/


/*--------------------------------
 Bullet/arrow
----------------------------------*/
.arrow {
  position: relative;
}
.arrow li {
  padding-left: 14px;
  line-height: 30px;
  font-size: 14px;
}
.arrow li:before {
  font-family: "FontAwesome";
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 16px;
  color: #8e9091;
  content: "\f105";
}

/*--------------------------------
Call to actions 
----------------------------------*/


/*--------------------------------
  Image Hover Effect 
----------------------------------*/
img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}
.imghover {
  display: block;
  position: relative;
  max-width: 100%;
}
.imghover::before,
.imghover::after {
  display: block;
  position: absolute;
  content: "";
  text-align: center;
  opacity: 0;
}
.imghover::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.imghover::after {
  top: 55%;
  left: 50%;
  padding: 10px;
  line-height: 10px;
  margin: -25px 0 0 -25px;
  content: "\f0fe";
  font-family: "FontAwesome";
  font-size: 30px;
}
.imghover:hover::before,
.imghover:hover::after {
  opacity: 1;
}
.imghover:hover::before {
  background: rgba(12, 175, 229, 0.6);
}
.imghover:hover::after {
  color: #fff;
}

/*-------------------------
 Product Single
---------------------------*/
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
  padding: 18px 28px;
}
#cssmenu {
  margin-bottom: 30px;
  margin-top: 73px;
}
#cssmenu > ul > li {
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #e8eaec;
}
#cssmenu > ul > li:last-child {
  border-bottom: 1px solid #fff;
}
#cssmenu > ul > li > a {
  font-size: 13px;
  display: block;
  color: #1c1e1e;
  background: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
  color: #ff3c2e;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  background: #fff;
  border-bottom: #e8eaec 2px solid;
  color: #1c1e1e;
}
#cssmenu > ul > li.has-sub > a:after {
  content: "\f067";
  position: absolute;
  top: 18px;
  right: 14px;
  font-family: "FontAwesome";
  font-size: 12px;
  color: #848687;
}
#cssmenu > ul > li.has-sub.active > a:after {
  content: "\f068";
  position: absolute;
  right: 14px;
  top: 18px;
  font-family: "FontAwesome";
  color: #848687;
  font-size: 12px;
}

/* Sub menu */
#cssmenu ul ul {
  padding: 0;
  display: none;
  margin-top: 15px;
}
#cssmenu ul ul a {
  background: #fff;
  display: block;
  color: #848687;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 6px 0px;
}
#cssmenu ul ul a:hover {
  color: #ff3c2e;
}
#cssmenu ul ul li {
  border-bottom: 0px;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}
.checkbox-list {
  display: inline-block;
  padding-left: 5px;
  position: relative;
  bottom: 2px;
}
#cssmenu ul ul li:last-child {
  border: none;
}
.thumb-img img {
  border: 1px solid #c8cbcf;
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  padding: 13px 8px;
}
.thumb-img img:hover {
  border: 1px solid #fb730f;
}

.product-single .box-capacity {
  display: flex;
  margin-bottom: 15px;
}

.product-single .box-capacity a {
  display: block;
  border: 1px solid rgb(151, 151, 151);
  width: 70px;
  height: 40px;
  padding: 11px 5px;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 8px;
}

.product-single .box-capacity a.current-phone {
  border: 1px solid rgb(241, 93, 0);
}

.product-single .box-capacity a .capacity {
  line-height: 1;
  display: block;
}

.product-single .color-phone {
  display: flex;
  margin-bottom: 15px;
}

.product-single .color-phone a {
  display: block;
  border: 1px solid rgb(151, 151, 151);
  padding: 10px 10px;
  height: 40px;
  border-radius: 5px;
  margin-right: 8px;
}
.product-single .color-phone a.current-color {
  border: 1px solid rgb(241, 93, 0);
}

.product-single .color-phone a span {
  line-height: 1;
  display: block;
}

.product-single h2 {
  margin-bottom: 0px;
}
.product-quantity {
  display: flex;
}
.product-quantity h4 {
  margin-right: 20px;
  margin-top: 5px;
}

.product-quantity .rest-quantity {
  margin-left: 10px;
  padding-top: 10px;
  line-height: 1;
}
.product-quantity .quantity {
  display: flex;
  height: 35px;
}
.product-quantity .quantity .btn-quantity {
  background: rgba(240, 240, 240, 0.719);
  border: 1px solid rgb(207, 207, 207);
  padding: 2px 5px;
  height: 35px;
  width: 35px;
  margin: 0;
  font-weight: 500;
  font-size: 25px;
}

.product-quantity .quantity .decrease-quantity {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.product-quantity .quantity .increase-quantity {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.product-quantity .quantity .quantity-input {
  width: 40px;
  font-size: 16px;
  text-align: center;
  height: 35px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid rgb(207, 207, 207);
  border-right: none;
  border-left: none;
  outline: 0;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity .qty {
  width: 67px;
  text-align: center;
  height: 45px;
}
.qty {
  padding: 5px;
}
.input-text {
  padding: 0.6180469716em;
  border: 1px solid #c8cbcf;
  background-color: #fff;
  color: #43454b;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-weight: 400;
}
.product-social {
  float: none;
  margin-bottom: 20px;
}
.product-social a span {
  font-size: 20px;
  padding-right: 16px;
  color: #9b9b9b;
}
.product-social a span:hover {
  color: #f25b6a;
}
.product-tag {
  text-transform: lowercase;
}
.product-tag-title {
  text-transform: uppercase;
  padding-right: 10px;
}
.product-rating {
  margin-bottom: 10px;
  font-size: 13px;
  color: #ffc700;
}
.product-single strike {
  font-size: 24px;
  color: #1c1e1e;
}

.description-details {
  padding-top: 15px;
  background: white;
  display: flex;
  font-family: "Bai Jamjuree", sans-serif;
}

.description-details .dgctpro {
  border-bottom: 1px solid rgba(221, 221, 221, 0.767);
}
.description-details .description-left {
  padding: 15px;
  flex: left;
  border: 1px solid rgba(221, 221, 221, 0.767);
}

.description-details .description-left h2,
h3 {
  font-weight: 500;
  color: black;
}
.description-details .description-left .content-desc {
  overflow: hidden;
}
.description-details .description-left .content-desc p {
  color: rgb(61, 61, 61);
}

.description-details .description-left button {
  margin: 15px auto 0 35px;
  width: 90%;
  border: none;
  border-radius: 5px;
}

.description-details .description-right {
  padding: 15px;
  border: 1px solid rgba(221, 221, 221, 0.767);
  margin-left: 15px;
}
.description-details .description-right table tr {
  border-bottom: 1px solid rgb(201, 201, 201);
}
.description-details .description-right table td.title_charactestic {
  padding: 10px 10px 10px 0;
}
.description-details .description-right table td.content_charactestic {
  padding: 10px 0 10px 10px;
  color: rgb(61, 61, 61);
}

.product-small-title {
  border-bottom: 2px solid #e8ecf0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.highlights {
  margin-bottom: 40px;
}

.highlights ul li {
  color: #848687;
}

.container-rating-review .box-body {
  display: flex;
}

.container-rating-review .box-body .rating-box {
  width: 30%;
}

.container-rating-review .box-body .review-box {
  width: 70%;
  padding-left: 15px;
}
.rating-review {
  display: flex;
}
.review-box .product-rating {
  height: 25px;
}
.review-box .product-rating i {
  font-size: 15px;
}

.rating-review .score-rating {
  padding-top: 10px;
  padding-right: 10px;
}
.rating-review .product-rating {
  display: flex;
  margin: 0;
}

.rating-review .product-rating i {
  font-size: 22px;
  padding: 4px;
}

.rating-review h1 {
  margin-bottom: 0px;
  font-size: 40px;
}

.review-rating {
  text-align: center;
  font-size: 19px;
}

.review-rating .star-rate {
  margin: auto;
  position: none;
  left: 0;
  width: 30px;
}

.star-rate {
  bottom: 32px;
  left: 80px;
}
.rating-review h2 {
  margin-bottom: 20px;
  font-size: 40px;
}
.rating-view-details {
  margin-left: 30px;
  margin-top: 15px;
}

.rating-view-details .rating-level {
  display: flex;
}

.rating-view-details .rating-level .product-rating {
  display: flex;
  margin-right: 25px;
  margin-bottom: 0;
}

.rating-view-details .rating-level .product-rating i {
  padding-right: 7px;
}

.reviews-text {
  /* position: absolute; */
  margin-bottom: 0px;
  left: 130px;
  font-size: 14px;
  display: inline-block;
  font-weight: 700;
}
.customer-reviews .product-rating {
  font-size: 18px;
  position: relative;
}

.review-form {
  display: flex;
  align-items: center;
}

.review-form .review-left {
  width: 30%;
}
.review-form .review-right {
  padding: 0;
}
.review-form form {
  padding: 40px;
}
.review-form input.form-control {
  height: 40px;
}
.review-form .form-control {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid gray;
  color: gray;
}

.review-form .btn-primary {
  height: 40px;
  padding: 5px;
  width: 200px;
  margin-left: 50px;
}

.scroll-nav a {
  margin-right: 20px;
  padding-bottom: 22px;
}
.scroll-nav a:hover {
  border-bottom: 1px solid #fb730f;
  color: #fb730f;
}
.scroll-nav a.active {
  border-bottom: 1px solid #fb730f;
  color: #fb730f;
}


/*--------------------------
 Cart
---------------------------*/
.cart .table > caption + thead > tr:first-child > td,
.cart .table > caption + thead > tr:first-child > th,
.cart .table > colgroup + thead > tr:first-child > td,
.cart .table > colgroup + thead > tr:first-child > th,
.cart .table > thead:first-child > tr:first-child > td,
.cart .table > thead:first-child > tr:first-child > th {
  border-top: 1px solid #e8ecf0;
  background-color: #f3f5f7;
  padding: 10px 19px;
  border-bottom: 1px solid #e8ecf0;
}
.cart .table > caption + thead > tr:first-child > td,
.cart .table > caption + thead > tr:first-child > th,
.cart .table > colgroup + thead > tr:first-child > td,
.cart .table > colgroup + thead > tr:first-child > th,
.cart .table > thead:first-child > tr:first-child > td,
.cart .table > thead:first-child > tr:first-child > th h5 {
  font-size: 14px;
  color: #1c1e1e;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0px;
}
.cart .table > tbody > tr > td,
.cart .table > tbody > tr > th,
.cart .table > tfoot > tr > td,
.cart .table > tfoot > tr > th,
.cart .table > thead > tr > td,
.cart .table > thead > tr > th {
  padding: 22px 19px;
  line-height: 1.42857143;
  vertical-align: middle;
  background-color: #fff;
}
.cart .table-bordered {
  border: 1px solid#e8ecf0;
}
.cart .table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: transparent;
}
.quantity {
}
.product-quantity .form-control {
  width: 30%;
  height: 40px;
  padding-right: 0px;
}
.btn-close {
  font-size: 26px;
  color: #c5c8ca;
}
.pay-amount {
}
.pay-amount .table > tbody > tr > td,
.pay-amount .table > tbody > tr > th,
.pay-amount .table > tfoot > tr > td,
.pay-amount .table > tfoot > tr > th,
.pay-amount .table > thead > tr > td,
.pay-amount .table > thead > tr > th {
  padding: 4px 0px 6px 0px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 0;
  border-bottom: 0;
  border: transparent;
  background-color: #fff;
}
.pay-amount tbody {
  padding-top: 20px;
}
.cart span {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  color: #1c1e1e;
  text-transform: uppercase;
}
.pay-amount span {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  color: #1c1e1e;
}

/*==============cart page================*/

.cart-content{
  background-color: white;
  padding: 50px 80px;
}

.cart-content .title-header{
  text-align: center;
}

.cart-content .checkboxStyle{
  width: 20px;
  height: 20px;
}
.cart-content table{
  border: 1px solid rgb(177, 177, 177);
  /* max-width: 70%; */
  width: 100%;
}

.cart-content table th{
  text-align: center;
}
.cart-content table tbody img{
  width: 100px;
}

.cart-content .item-center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-content .item-center i{
  cursor: pointer;
  font-size: 20px;
}

.cart-content .product-title{
  text-align:left;
  justify-content: left;
}

.cart-content table .quantity{
  display: flex;
}

.cart-content table .quantity .btn-quantity{
  background: rgba(240, 240, 240, 0.719);
  border: 1px solid rgb(207, 207, 207);
  padding:0px 5px;
  height: 35px;
  width: 35px;
  margin: 0;
  font-weight: 500;
  font-size: 25px;
}

.cart-content table .quantity .decrease-quantity {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.cart-content table .quantity .increase-quantity {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cart-content table .quantity .quantity-input {
  width: 40px;
  font-size: 16px;
  text-align: center;
  height: 35px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid rgb(207, 207, 207);
  border-right: none;
  border-left: none;
  outline: 0;
}
.cart-content .prices-summary{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-content .prices-summary .left-content{
  vertical-align: bottom;
}
.cart-content .total-receipt{
  border: 1px solid rgb(185, 185, 185);
  width: 320px;
  box-sizing: border-box;
 
}
.cart-content .total-receipt .promotion-code{
  border-bottom: 1px solid rgb(185, 185, 185);
}

.cart-content .total-receipt .promotion-code input{
  width: 200px;
  outline: 0;
  padding: 3px 5px;
  box-sizing: border-box;
  height: 36px;
  border: 1px solid rgb(185, 185, 185);
}

.cart-content .total-receipt .promotion-code button{
  width: 70px;
  outline: 0;
  border: none;
  height: 36px;
  border-radius: 3px;
  box-sizing: border-box;
}


.cart-content .total-receipt .prices .prices-item{
  display: flex;
  justify-content: space-between;
  color: rgb(83, 83, 83);
}

.cart-content .total-receipt .prices-total{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(185, 185, 185);
  color: rgb(83, 83, 83);
}

.cart-content .total-receipt .prices-total .prices-final{
  font-size: 22px;
 
}
.cart-content .prices-summary{
 
}

.cart-content .btn-checkout{
  width: 320px;
  display: block;
  text-align: center;
  height: 40px;
  padding: 5px 0;
  border-radius: 5px;
  margin-top: 15px;
}

/*--------------------------
 9.5  Checkout Form
 ----------------------------*/
.checkout-form .form-control {
  background-color: #f4f7f9;
  margin-bottom: 20px;
}
